/* for the code a listed above I wanted to run some of my own testing with just to see what would work, I decided to just comment it out as of now
it doesn't hold any value to helping the code overall its more of a way to break it at this point. However I justed decided to comment it out. */
/* ---- reset ---- */
#root {
	margin: 0;
	font: normal 75% Arial, Helvetica, sans-serif;
	background-color: #fff;
}

#particles-js {
	position: fixed;
	width: 100%;
	height: 100vh;
	background-color: #161213;
	background-image: url("");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
} /* ---- stats.js ---- */
.count-particles {
	background: #000022;
	position: absolute;
	top: 48px;
	left: 0;
	width: 80px;
	color: #13e8e9;
	font-size: 0.8em;
	text-align: left;
	text-indent: 4px;
	line-height: 14px;
	padding-bottom: 2px;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
}
.js-count-particles {
	font-size: 1.1em;
}
#stats,
.count-particles {
	-webkit-user-select: none;
	margin-top: 5px;
	margin-left: 5px;
}
#stats {
	border-radius: 3px 3px 0 0;
	overflow: hidden;
}
.count-particles {
	border-radius: 0 0 3px 3px;
}
.display-4 {
	color: white;
}
.lead {
	color: white;
}
